#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


button.main-btn{
  background-color:darkslategrey;
  color:aquamarine;
}

button.main-btn:hover{
  background-color:aquamarine;
  color:darkslategrey;
}

button:focus,
button:focus-visible {
  outline: 4px auto darkslategray;
}

.card{
  padding:4rem;
  box-shadow:2px 2px 4px  rgba(0,0,0,0.2);
  border-radius:5%;
}

.card.first-screen{
  display:flex;
  flex-flow:column wrap;
}

.card.first-screen p, 
.card.first-screen h1 {
  margin:0;
}
.card.first-screen h3{
  margin-top:1rem;
  margin-bottom:0.2rem;
  font-size:1rem;
}

#radio-wrapper{
  display:flex;
  justify-content:space-evenly;
  font-size:1rem;
  margin-bottom:1.5rem;
  font-weight:800;
}

.card.first-screen input,
.card.first-screen label{
  cursor:pointer;
}

.questionDiv {
  display:flex;
  flex-flow:column wrap;
  align-items:flex-start;
  text-align:left;
  margin-bottom:2rem;
  background:rgba(100,100,220,0.1);
  padding:2rem;
  border-radius:15px;
}

.answer-wrapper{
  display:flex;
  flex-flow:row wrap;
  gap:0.5rem;
}

.answer-btn{
  background-color:darkslateblue;
}
.answer-btn:hover{
  background-color:aquamarine;
  color:darkslategray;
}

