#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


button.main-btn{
  background-color:darkslategrey;
  color:aquamarine;
}

button.main-btn:hover{
  background-color:aquamarine;
  color:darkslategrey;
}

button:focus,
button:focus-visible {
  outline: 4px auto darkslategray;
}

.card{
  padding:4rem;
  box-shadow:2px 2px 4px  rgba(0,0,0,0.2);
  border-radius:5%;
}

/*Testing fade in and out*/

.fade-out{
  opacity:0;
  width:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fade-in{
  opacity:1;
  width:auto;
  height:auto;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}